.cm-highlight {
    border-radius: 2px !important;
    padding-bottom: 2px !important;
    padding-left: 1px !important;
    padding-right: 1px !important;
    border-width: 0px !important;
    background-color: rgb(255 0 0 / 33%) !important;
}

.cm-strikethrough {
    text-decoration-color: rgb(142 40 40) !important;
    text-decoration-thickness: 3px;
}