.cm-blockid {
    color: var(--text-faint) !important;
    opacity: 0.25 !important;
    font-style: italic;
    font-size: 8px !important;
    top: -0.2em !important;
}

.cm-line:has(.cm-blockid) + .cm-line {
    /* visibly remove 1 \n after a block */
    line-height: 0px;
}

/* select *[[...|...]]* */
.cm-em.cm-hmd-internal-link.cm-link-alias {
    opacity: 0.3;

    /* move ^ left from the content */
    margin-left: -14px;
    /* remove italics */
    font-style: normal;
}
