.cm-blockid {
    color: var(--text-faint) !important;
    opacity: 0.25 !important;
    font-style: italic;
    font-size: 8px !important;
    top: -0.2em !important;
}

.cm-line:has(.cm-blockid) + .cm-line {
    /* visibly remove 1 \n after a block */
    line-height: 0px;
}

/* select *[[...|...]]* */
.cm-em.cm-hmd-internal-link.cm-link-alias {
    opacity: 0.3;

    /* move ^ left from the content */
    margin-left: -14px;
    /* remove italics */
    font-style: normal;
}

.HyperMD-header-6 {
    padding-top: 0px !important;
}

.cm-line:has(.block_title) {
    text-align: right !important;
    line-height: 12px !important;
    padding-bottom: 2px !important;
}

.block_title {
    font-size: 12px !important;
    color: var(--hr-color);
    font-weight: 700;
}
    
.markdown-source-view.mod-cm6 .hr {
    line-height: 0px !important;
    padding-bottom: 4px !important;
}

.cm-hashtag {
    background-color: var(--hr-color);
    color: var(--text-normal);
}