.cm-blockid {
    color: var(--text-faint) !important;
    opacity: 0.25 !important;
    font-style: italic;
    font-size: 8px !important;
    top: -0.2em !important;
    display: inline !important;
    white-space: nowrap;
}

.cm-line:has(.cm-blockid) {
    display: inline-block;
    width: auto;
}

.cm-highlight {
    border-radius: 2px !important;
    padding-bottom: 2px !important;
    padding-left: 1px !important;
    padding-right: 1px !important;
    border-width: 0px !important;
    background-color: rgb(255 0 0 / 33%) !important;
}

.cm-line:has(.cm-blockid) + .cm-line {
    line-height: 8px;
}

.cm-hmd-internal-link.cm-link-alias.cm-highlight {
    opacity: 0.3;
}

.cm-hmd-internal-link.cm-link-alias.cm-list-1 {
    opacity: 1 !important;
}
